<div class="form-horizontal">
    <label>Add Tracking Number:</label> <input #trackingNumber />
    <span>
        <button class="btn btn-default" (click)="add(trackingNumber.value); trackingNumber.value=''">Add</button>
        <button class="btn btn-default" (click)="loadAll()">Load</button><span>  ...or load a file directly:</span>
    </span>
    <input class="form-control" type="file" id="myFile" >
</div>
<!--<div *ngFor="let trackingNumber of trackingNumbers">
    <div class="row">
        <span class="col-md-4">{{trackingNumber.TrackingNumber}}</span>
        <span class="col-md-1.5"><button (click)="track(trackingNumber.value)" (click)="onSelected(trackingNumber)">Track Shipment</button></span>
        <span><button (click)=delete(trackingNumber._id,trackingNumber._rev,trackingNumber.value)>Delete</button></span>
    </div>
</div>-->
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tracking Number</th>
                <th>Status</th>
                <th>Delete</th>
                <th>Archive</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trackingNumber of trackingNumbers">
                <td>{{trackingNumber.TrackingNumber}}</td>
                <td>{{trackingNumber.StatusUpdateTime}}</td>
                <td><button (click)=delete(trackingNumber.id,trackingNumber.TrackingNumber)>Delete</button></td>
                <td><button (click)=archive(trackingNumber.TrackingNumber)>Archive</button></td>
            </tr>
        </tbody>
    </table>
</div>