<div>
    <label>Add Tracking Number:</label> <input #trackingNumber />
    <button (click)="add(trackingNumber.value); trackingNumber.value=''">Add</button>
    <button (click)="loadAll()">Load</button>
</div>
<div *ngFor="let trackingNumber of trackingNumbers">
    <div class="row">
      <span class="col-md-4">{{trackingNumber.trackingNumber}}</span>
      <span class="col-md-1.5"><button (click)="track(trackingNumber.value)" (click)="onSelected(trackingNumber)">Track Shipment</button></span>
      <span><button (click)=delete(trackingNumber._id,trackingNumber._rev,trackingNumber.value)>x</button></span>
    </div>
</div>