<div>
    <label>Add Tracking Number:</label> <input #trackingNumber />
    <button (click)="add(trackingNumber.value); trackingNumber.value=''">Add</button>
    <button (click)="loadAll()">Load</button>
</div>
<!--<div class="row">
    <div class="col-md-9">
        <h1>
            Tracking Numbers
        </h1>
        <app-tracking-number-list [trackingNumbers]="trackingNumbers" (trackingNumberSelected)="$event"></app-tracking-number-list>
    </div>
    <div class="col-md-3">
        <h1>
            Tracking Details
        </h1>
        <app-tracking-details [slectedTrackingNumber]="slectedTrackingNumber"></app-tracking-details>
    </div>
</div>-->